body {
   background-color: #00FF69;
}

p {
   color: #B83B21;
   font-family: 'Work Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
   color: #B83B21;
   font-family: 'Roboto', sans-serif;
}

#home {
   background: linear-gradient( rgba(0, 0, 0, 1.5), rgba(0, 0, 0, 1.5) ), url('../img/freshmen-bg.jpg') no-repeat fixed 0 0 / cover;
}
