body {
   background-color: rgba(80%, 0%, 0%, 100% );
background-image: url("../img/microphone-2101487.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 50% 0%;    
}
h1 { 
   font-family: 'Monoton', cursive;
   color: yellow;
   font-size: 50px;
   position: relative; 
   left: 50%; 
   width: 500px; 
   padding: 8px; 
   background-color: rgba(85%, 0%, 0%, 75%);  
   text-align: center;
   border-radius: 10px; 
   border-style: solid;    
   margin-left: -220px; 
} 
p {
   font-family: 'Montserrat', sans-serif;
   background-color: rgba(85%, 0%, 0%, 75%); 
   padding: 12px; 
   border-radius: 20px; 
   text-align: center; 
   width: 500px; 
   position: relative;
   left: 50%;
   margin-left: -220px; 
   border-style: solid; 
   border-color: yellow;
   color: white; 
}
.main-nav {
   font-family: 'Fjalla One', sans-serif;
   padding: 5px; 
   position: relative; 
   width: 250px; 
   left: 50%; 
   background-color: black;
   border-color: yellow; 
   border-style: dotted; 
   margin-left: -87px; 
   text-align: center; 
   text-decoration-color: white; 
} 
a {
   color: white; 
   padding: 4px; 
   text-decoration: none;
}
a:hover {
   color: yellow;
}
.music {
   left: 25%;
}
h2 {
font-family: 'Spartan', sans-serif;
background-color: rgba(100%, 100%, 100%, 80% );
Width: 250px; 
Padding: 4px;
background-attachment: fixed;
background-position: 50% 0%; 
border-radius: 12px; 
border-style: ridge;
border-color: rgba(85%, 0%, 0%, 100%);
text-align: center; 
position: relative; 
left: 50%; 
margin-left: -86px; 
border-width: 4px;
}
.house-show-img {
   position: relative;
   left: 60%; 
   max-width: 28%; 
   max-height: 28%; 
   top: -125px; 
   border-radius: 15px; 
   border-style: ridge;
   border-width: 10px; 
   border-color: rgba(85%, 0%, 0%, 75%); 
}
.microphone-show-img {
   position: relative;
   left: 5%; 
   top: -130px; 
   border-radius: 15px;
   border-style: ridge;
   border-width: 10px; 
   border-color: rgba(85%, 0%, 0%, 75%); 
}
.footer-nav {
   font-family: 'Fjalla One', sans-serif;
   padding: 5px; 
   position: relative; 
   width: 250px; 
   left: 50%; 
   background-color: black;
   border-color: yellow; 
   border-style: dotted; 
   margin-left: -87px; 
   text-align: center; 
   text-decoration-color: white; 
}
.social-media-img {
   max-width: 25%; 
   max-height: 25%; 
   position: relative; 
   left: 50%; 
   margin-left: -108px; 
}