#hero {
   background: url('../img/couch.png') no-repeat fixed 0 0 / cover;
}

#plain {
   color: rgb(97, 24, 94);
   background-color: rgb(252, 199, 233);
}

ul{
   list-style-type: none;
}

li {
  display: inline;
}

h1 {
   font-family: 'Poppins', sans-serif;
}

body {
   color: rgb(97, 24, 94);
   font-family: 'Sen', sans-serif;
   background-color: inherit;
}
