#home {
  background: #9334eb url('../img/hero.jpg') no-repeat fixed 0 0 / cover;
  color: #1f1f1f;
  padding: 0;
}

#home .hero {
  margin: 0;
  padding: 0;
}

#home .hero-inner h1 {
  font-size: 50px;
  padding-left: 60%;
}

#home .hero-inner nav {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  padding-left: 53%;
}

#home .hero-inner p {
  font-size: 16px;
  padding-left: 62%;
  padding-right: 9%;
  text-align: center;
}

#about,
#contact {
  background-color: #fff491;
  color: inherit;
  border: 15px dotted #5c90eb;
  border-radius: 20px;
  width: 1440px;
  margin: auto;
  padding: .5%;
}

#about .about-body {
  background: #fff491;
  color: inherit;
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

header {
  text-align: center;
  background-color: #59c5eb;
  color: #1f1f1f;
  border: 5px outset #5c90eb;
  border-radius: 60px;
  margin: auto;
  width: 944px;
  height: 130px;
}

nav {
  text-align: center;
  font-size: 20px;
}

h1 {
  font-family: Righteous, cursive;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-family: Righteous, cursive;
  font-size: 30px;
}

h3 {
  text-align: center;
}

section {
  padding: 1%;
}

p {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
