.headings {
   
   font-family: 'Roboto', sans-serif; 
   color: #000060
   
}

.border {
   padding: 10px;
   background-color: rgba(255, 255, 255, 0.5);
}

.text {
   font-family: 'Oswald', sans-serif;
   color: #000060

}

#home {
   
   background: transparent url('../img/hero.jpg') no-repeat fixed 0 0 / cover;
}

#contact {
   background-color: #6bb36b
   
}

#about {
   background-color: #6bb36b
   
}

