#home {
   
   background: transparent url('../img/hero.jpg') no-repeat fixed 0 0 / cover;
}

.headings {
   
   font-family: 'Roboto', sans-serif; 
   
}

p {
   font-family: 'Oswald', sans-serif;
}

#contact {
   background-color: #FF98B2 
   
}

#about {
   background-color: #98E0FF
}